body{
    background-image: url("../img/bg.jpg");
}
ul.menu{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li.menu{
    float: left;
}
li.menu a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.menu a:hover{
    background-color: #111;
}

/*Home Page*/
div.context{
    width: 80%;
    background-color: #F5D674;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
    overflow: auto;
}
h1{
    font-family: 'Lobster', cursive;
    text-align: center;
}
.context img{
    display: block;
border:  2px solid#333;
    width: 40%;
    max-width: 300px;
    height: 100%;
    float: right;
}
.context p{
    margin: 3px;
}


/*Team Bucciarati*/
.flex-container{
    width: 80%;
    background-color: #F5D674;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 10px black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/*Card*/
.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;

  }
  .card img{
    width: 300px;
  }
  .card .pic{
      height: 80%;
      
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }

  /*Squadra Esecuzioni*/
  .grid-container{
    width: 80%;
    background-color: #F5D674;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    justify-content: space-evenly;
    grid-gap: 0px;
    align-items: stretch;
}

.card_img{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}